<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
        <!-- <input id="id" type="text" placeholder="ID"><br>
        <input id="psword" type="password" placeholder="password"><br>
        <button type="submit">Login</button> -->
        <!--ring div starts here-->
<div class="ring">
    <i style="--clr:#7585fd;"></i>
    <i style="--clr:#87ffff;"></i>
    <i style="--clr:#ffc982;"></i>
    <div class="login">
        <h2>Login</h2>
        <div class="inputBx">
            <input id="id" type="text" placeholder="User ID">
        </div>
        <div class="inputBx">
            <input id="psword" type="password" placeholder="Password">
        </div>
        <div class="inputBx">
            <input id="button": type="submit" value="Login">
        </div>
        <div class="links">
            <a href="#">Forget Password</a>
            <a href="/register">Signup</a>
        </div>
        </div>
    </div>
    <!--ring div ends here-->
</body>
</html>